.firstbox {
    background-color: #374675;
    height: 800px;
    width: 40%;
 }
    
    .secondbox {
    background-color: #ffffff;
    height: 300px;
    width: 50%;
    margin-left: 680px;
    margin-top: -60rem;
    
   
    
    }
    