.firstbox {
    height: 1000px;
    background-color:#1d2044;
    width:50%;
    
}
    
    .secondbox {
    
    height: 300px;
    /* width: 56.25%; */
    margin-left: 680px;
    margin-top: 60rem;
    color: #181b3b;
  
  }
  
    .a, .c {   
    width:460px;
    height:10px;
    margin-left:40px;
    margin-top:10px;
    font-size:58px;
    font-weight:950px;
    color:white;
    }
    .b {
        width:460px;
        height:10px;
        margin-left:40px;
        margin-top:10px;
        font-size:58px;
        font-weight:950px;
        color:green;
    }
 .first,.second,.third{
    height:0px;
    margin-left:40px;
    margin-top:40px;
    font-size:60px;
    font-weight:900px;
    color:white;
    white-space:pre-line;
}
.fourth {
    height:0px;
    margin-left:40px;
    margin-top:4px;
    font-size:24px;
    font-weight:900px;
    color:white;
     
}